[View in Colaboratory](https://colab.research.google.com/github/nozma/the_self_taught_programmer_challenges/blob/master/%E7%AC%AC9%E7%AB%A0%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB.ipynb)

# ファイル

> 独学こそが唯一の教育である、私はそう強く信じている ---- Isaaac Asimov

なんか処理したファイルを読み込みたい…なんか処理した結果をファイルに書き出したい…そんなとき。

もちろん手段は用意されています。が、その前に。

## ファイルパス

ファイルパスは人類が組み立てるべきではない。なぜならWindonsが妙なファイルパスの組み立て方をするからだ…。

`os`モジュールの`path.join`関数をつかうとよしなにファイルパスを構築してくれるので、人類はこれをつかおう。

In [1]:
import os

os.path.join("hoge", "huga", "piyo,py")

'hoge/huga/piyo,py'

この方法で組立てたパスは概ね空気を読んで動作してくれるはずだ。

## ファイルのオープンとクローズ

- ファイルは`open`関数によってコネクションを開く。開いたコネクションは閉じるのを忘れないようにしよう。
- コネクションを開くときに、引数によって**書き込めるのか、読み込みだけなのか、エンコードはなんなのか**みたいなことを指定する。
- まず(後で読み込み方法を確認するためにも)書き込み方法を確認する。書き込みのためにはモードとして"w"を指定する(writeのw)。

In [0]:
st = open("st.txt", "w", encoding="utf-8")
st.write("人類は温泉に入ったり酒を飲んだりして人生を過ごすべきなのではないか…？")
st.close()

## with文

「開いたコネクションは閉じるのを忘れない用に」だって？閉じるの忘れそうだよ！という人のために`with`文がある。with文とともにファイルを開くと、文の終了とともに自動的にコネクションが閉じられる。

In [0]:
with open("st.txt", "w") as f:
  f.write("人類は温泉に入ったり酒を飲んだりして人生をすごすべきなのではないか…？")

書き込みがあれば読み込みがある。読み込みは`open`関数を使う

In [3]:
with open("st.txt", "r") as f:# rはread(読み込み専用)でコネクションを開く指定
  print(f.read())

人類は温泉に入ったり酒を飲んだりして人生をすごすべきなのではないか…？

## 読み込んだ内容の使い回し

`read`で読み込んだ内容はその瞬間**一度きり**しか使えないので、あとで使う予定があればなにかオブジェクトに内容をコピーしておくこと。

## CSVファイル

読み書きしたいテキストファイルNO1はcsvではないだろうか。

データはCSVとして書き込みたいし、読み込みたい…。

そんな希望を叶えるためのモジュールとして`csv`がある。`csv`を使うとcsvファイルを作成できるが、書き込みは1行ごとであることに注意しよう。

In [0]:
import csv

with open("st.csv", "w", newline = '') as f: # 書き込み用にファイルを開く
  w = csv.writer(f, delimiter=",") # csvファイルの書き込み準備をする
  w.writerow(["one", "two", "three"])
  w.writerow(["four", "five", "six"])

In [9]:
with open("st.csv", "r") as f: # 先程書き込んだファイルを読み込むために読み込み用でファイルを開く
  r = csv.reader(f, delimiter=",")
  for row in r:
    print(",".join(row))

one,two,three
four,five,six

分析用途だとpandasで読み込んだほうがいいかも…？

In [12]:
import pandas as pd

pd.read_csv("st.csv", header=None)

      0     1      2
0   one   two  three
1  four  five    six